DJANGO_DEBUG={{ '1' if lif_django_debug else '0' }}
DJANGO_SECRET_KEY={{ lif_django_secret_key }}
DJANGO_ALLOWED_HOSTS={{ lif_effective_django_allowed_hosts | default(lif_django_allowed_hosts) | join(',') }}
DJANGO_CSRF_TRUSTED_ORIGINS={{ lif_django_csrf_trusted_origins | default([]) | join(',') }}
DJANGO_TRUST_PROXY_SSL_HEADER={{ '1' if lif_trust_proxy_ssl_header | default(false) else '0' }}
LIF_REQUIRE_LOGIN={{ '1' if lif_effective_require_login else '0' }}
LIF_VERSION={{ lif_version_label }}
LIF_GIT_COMMIT={{ (lif_git.after | default(''))[:7] }}
LIF_ALLOW_DEMO_USER={{ '1' if lif_demo_deployment else '0' }}
{% for name, value in lif_feature_flags | dictsort %}
{{ name }}={{ value }}
{% endfor %}
